<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin_layout">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <style th:replace="/admin/shared/style"></style>
</head>
<body>

<div th:replace="/admin/shared/header"></div>

<div th:replace="/admin/shared/left_side"></div>

<div class="wrapper">

    <div layout:fragment="content">
        <!-- Content Header (Page header) -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>General Form</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">General Form</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Bordered Table</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">

                                        <!-- Add a button -->
                                        <a th:href="@{/employees/showFormForAdd}"
                                           class="btn btn-primary btn-sm mb-3">
                                            Add Employee
                                        </a>
                                        <hr>
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Action</th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="tempEmployee : ${employees}">

                                            <td th:text="${tempEmployee.firstName}"/>
                                            <td th:text="${tempEmployee.lastName}"/>
                                            <td th:text="${tempEmployee.email}"/>

                                            <!-- Add update button/link -->
                                            <td>
                                                <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
                                                   class="btn btn-info btn-sm">
                                                    Update
                                                </a>

                                                <!-- Add "delete" button/link -->
                                                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
                                                   class="btn btn-danger btn-sm"
                                                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                                                    Delete
                                                </a>
                                            </td>


                                        </tr>
                                        </tbody>


                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <ul class="pagination pagination-sm m-0 float-right">
                                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>

            </section>
            <!-- End Main content -->

        </div>
    </div>
</div>

<div th:replace="/admin/shared/footer"></div>

<div layout:fragment="script">

</div>

<div th:replace="/admin/shared/file_script"></div>


<th:block layout:fragment="script">
    <script>
        console.log("Add User");
    </script>
</th:block>

</body>
</html>
